<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <app-auto-complete-person></app-auto-complete-person>
        </div>
        <div class="form-group">
            <label for="date">Date of creation</label>
            <input
                    type="text"
                    id="date"
                    placeholder="YYYY-MM-DD"
                    class="form-control"
                    formControlName="date">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" formControlName="type">
                <option value="Neuro">Neuro</option>
                <option value="Kankeronderzoek">Kankeronderzoek</option>
                <option value="Hart">Hart</option>
            </select>
        </div>
        <div class="form-group">
            <label for="remark">Remarks</label>
            <input
                    type="text"
                    id="remark"
                    class="form-control"
                    formControlName="remark">
        </div>        
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>